<!DOCTYPE html>
<html>

<head>
	<title>Meilleurs scores</title>
	<link rel="stylesheet" href="../assets/bootstrap-4.5.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/fa-5.15/css/all.css">
	<link rel="stylesheet" href="../assets/animate.min.css">
	<link rel="stylesheet" href="../assets/main.css">
</head>

<body>
	<nav class="navbar navbar-light bg-principal">
		<div class="align-items-center justify-content-start p-0">
			<button class="btn btn-dark border-0 bg-second rounded-circle" onclick="location.href = './accueil.html'">
				<i class="fa fa-arrow-left"></i>
			</button>
		</div>
		<span class="navbar-brand text-white font-weight-bold">Meilleurs scores</span>
	</nav>

	<div class="d-flex align-items-center justify-content-around bg-second p-2" style="min-height: calc(100vh - 56px)">

	</div>

	<script src="../assets/bootstrap-4.5.3/js/jquery-3.2.1.slim.min.js"></script>
	<script src="../assets/bootstrap-4.5.3/js/bootstrap.min.js"></script>
	<script type="module" src="../functions/main.js"></script>
</body>

</html>