.game-space {
    width: 60%;
    height: calc(100vh - 56px);
    background-color: #272b33;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 1%; */
}

.bg-principal {
    background-color: #181a1f;
}

.bg-second {
    background-image: linear-gradient(to right, #3e4450, #272b33);
}

.game-card-line {
    width: 100%;
    height: 11.11%;
    display: flex;
    flex-direction: row;
}

.game-card {
    width: 11.11%;
    height: 100%;
    border: 1px solid #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    cursor: pointer;
    animation: zoomIn 1s;
}

.border-top-white {
    border-top: 1.5px solid white !important;
}
.border-bottom-white {
    border-bottom: 1.5px solid white !important;
}
.border-right-white {
    border-right: 1.5px solid white !important;
}
.border-left-white {
    border-left: 1.5px solid white !important;
}

.game-card:hover {
    background-color: rgba(2, 20, 61, 0.534);
}

.game-card::after {
    background-color: rgb(2, 20, 61);
}

.hovered {
    background-color: #3e4450;
}

.game-infos {
    background-image: linear-gradient(to top, #272b33, #3e4450);
    height:  calc(100vh - 56px);
    width: 40%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 3%;
    color: white;
}

.game-infos-line {
    width: 100%;
    padding: 3%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-infos-key {
    width: 45%;
    text-align: left;
}

.game-infos-value {
    width: 55%;
    text-align: right;
}

.game-image {
    margin-top: 15%;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.sudoku-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    animation: tada 2s normal 1s, slideInDown 1s normal 0s;
}

.sudoku-image:hover {
    transform: rotate(10deg);
    transition-duration: 0.2s;
}

.active {
    background-color: rgb(2, 20, 61);
}

.unauthorized {
    background-color: rgb(247, 64, 64);
}

.text-yellow {
    color: rgb(255, 255, 101);
}